In [1]:
import pandas as pd

In [2]:
%run data_cleaning.ipynb

In [3]:
Jakarta_cleaned_data

,airline_company,dep_city,arr_city,out_dep_date,out_dep_time,out_duration,out_stop_num,out_arr_date,out_arr_time,in_dep_date,in_dep_time,in_duration,in_stop_num,in_arr_date,in_arr_time,hour_scrap,day_scrap,ticket_price,currency
0,Qatar Airways,BRU,CGK,2023-08-01,09:05,0 days 17:35:00,1,2023-08-02,07:40,2023-08-15,09:05,1 days 10:05:00,1,2023-08-16,14:10,18,14,1521.51,€
1,Qatar Airways,BRU,CGK,2023-08-01,09:05,1 days 07:25:00,1,2023-08-02,21:30,2023-08-15,09:05,1 days 10:05:00,1,2023-08-16,14:10,18,14,1524.79,€
2,Qatar Airways,BRU,CGK,2023-08-01,09:05,0 days 17:35:00,1,2023-08-02,07:40,2023-08-15,19:00,0 days 18:10:00,2,2023-08-16,08:10,18,14,1521.51,€
3,Lufthansa,BRU,CGK,2023-08-01,20:05,0 days 17:00:00,2,2023-08-02,18:05,2023-08-15,19:00,0 days 18:10:00,2,2023-08-16,08:10,18,14,2472.62,€
4,Lufthansa,BRU,CGK,2023-08-01,20:05,0 days 17:00:00,2,2023-08-02,18:05,2023-08-15,19:00,0 days 18:35:00,2,2023-08-16,08:35,18,14,2489.71,€
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118,Lufthansa,BRU,CGK,2023-08-01,13:15,0 days 23:50:00,2,2023-08-02,18:05,2023-08-15,19:00,0 days 20:20:00,2,2023-08-16,10:20,16,16,2691.86,€
1119,Lufthansa,BRU,CGK,2023-08-01,19:15,0 days 22:25:00,2,2023-08-02,22:40,2023-08-15,19:00,0 days 20:20:00,2,2023-08-16,10:20,16,16,2691.86,€
1120,Lufthansa,BRU,CGK,2023-08-01,19:00,0 days 22:40:00,2,2023-08-02,22:40,2023-08-15,19:00,0 days 23:00:00,2,2023-08-16,13:00,16,16,2685.63,€
1121,Lufthansa,BRU,CGK,2023-08-01,20:05,0 days 21:35:00,2,2023-08-02,22:40,2023-08-15,19:00,0 days 23:00:00,2,2023-08-16,13:00,16,16,2691.86,€
1122,Lufthansa,BRU,CGK,2023-08-01,19:00,0 days 22:40:00,2,2023-08-02,22:40,2023-08-15,19:00,0 days 20:20:00,2,2023-08-16,10:20,16,16,2685.63,€

In [4]:
Tokyo_cleaned_data

,airline_company,dep_city,arr_city,out_dep_date,out_dep_time,out_duration,out_stop_num,out_arr_date,out_arr_time,in_dep_date,in_dep_time,in_duration,in_stop_num,in_arr_date,in_arr_time,hour_scrap,day_scrap,ticket_price,currency
0,Lufthansa,BRU,HND,2023-08-01,09:35,0 days 15:25:00,1,2023-08-02,08:00,2023-08-15,09:40,0 days 17:25:00,1,2023-08-15,20:05,19,14,2202.98,€
1,Lufthansa,BRU,HND,2023-08-01,11:20,0 days 15:30:00,1,2023-08-02,09:50,2023-08-15,09:40,0 days 17:25:00,1,2023-08-15,20:05,19,14,2217.21,€
2,Lufthansa,BRU,HND,2023-08-01,08:50,0 days 16:10:00,1,2023-08-02,08:00,2023-08-15,09:40,0 days 17:25:00,1,2023-08-15,20:05,19,14,2202.98,€
3,Lufthansa,BRU,HND,2023-08-01,09:30,0 days 17:20:00,1,2023-08-02,09:50,2023-08-15,09:40,0 days 17:25:00,1,2023-08-15,20:05,19,14,2217.21,€
4,Lufthansa,BRU,HND,2023-08-01,09:35,0 days 15:25:00,1,2023-08-02,08:00,2023-08-15,09:40,0 days 19:50:00,1,2023-08-15,22:30,19,14,2202.98,€
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,Lufthansa,BRU,HND,2023-08-01,14:40,0 days 19:05:00,1,2023-08-02,16:45,2023-08-15,09:40,1 days 05:30:00,1,2023-08-16,08:10,16,16,2401.97,€
1051,Lufthansa,BRU,HND,2023-08-01,07:00,0 days 19:50:00,1,2023-08-02,09:50,2023-08-15,09:40,1 days 05:30:00,1,2023-08-16,08:10,16,16,2401.65,€
1052,Lufthansa,BRU,HND,2023-08-01,13:15,0 days 20:30:00,1,2023-08-02,16:45,2023-08-15,09:40,1 days 05:30:00,1,2023-08-16,08:10,16,16,2401.97,€
1053,Lufthansa,BRU,HND,2023-08-01,20:45,1 days 02:30:00,1,2023-08-03,06:15,2023-08-15,11:45,1 days 02:50:00,1,2023-08-16,07:35,16,16,2389.63,€
1054,Lufthansa,BRU,HND,2023-08-01,20:45,1 days 02:30:00,1,2023-08-03,06:15,2023-08-15,11:45,1 days 03:50:00,1,2023-08-16,08:35,16,16,2401.65,€