In [1]:
import pandas as pd

In [2]:
%run data_cleaning.ipynb

In [3]:
df_jakarta

,out_airline_company,in_airline_company,dep_city,arr_city,out_dep_date,out_dep_time,out_duration,out_stop_num,out_arr_date,out_arr_time,in_dep_date,in_dep_time,in_duration,in_stop_num,in_arr_date,in_arr_time,hour_scrap,day_scrap,ticket_price,currency
0,Qatar Airways,Qatar Airways,BRU,CGK,2023-08-01,09:05,0 days 17:35:00,1,2023-08-02,07:40,2023-08-15,09:05,1 days 10:05:00,1,2023-08-16,14:10,9,20,1708.89,€
1,Qatar Airways,Qatar Airways,BRU,CGK,2023-08-01,09:05,1 days 07:25:00,1,2023-08-02,21:30,2023-08-15,09:05,1 days 10:05:00,1,2023-08-16,14:10,9,20,1708.89,€
2,Lufthansa,Lufthansa,BRU,CGK,2023-08-01,20:05,0 days 17:00:00,2,2023-08-02,18:05,2023-08-15,19:00,0 days 18:35:00,2,2023-08-16,08:35,9,20,2489.71,€
3,Lufthansa,Lufthansa,BRU,CGK,2023-08-01,19:00,0 days 18:05:00,2,2023-08-02,18:05,2023-08-15,19:00,0 days 18:35:00,2,2023-08-16,08:35,9,20,2475.48,€
4,Lufthansa,Lufthansa,BRU,CGK,2023-08-01,19:15,0 days 17:50:00,2,2023-08-02,18:05,2023-08-15,19:00,0 days 18:35:00,2,2023-08-16,08:35,9,20,2489.71,€
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,Lufthansa,Lufthansa,BRU,CGK,2023-08-01,16:30,1 days 01:10:00,2,2023-08-02,22:40,2023-08-15,19:00,0 days 18:10:00,2,2023-08-16,08:10,12,20,2502.72,€
165,Lufthansa,Lufthansa,BRU,CGK,2023-08-01,18:05,0 days 23:35:00,2,2023-08-02,22:40,2023-08-15,19:00,0 days 23:55:00,2,2023-08-16,13:55,12,20,2502.72,€
166,Lufthansa,Lufthansa,BRU,CGK,2023-08-01,14:40,0 days 22:25:00,2,2023-08-02,18:05,2023-08-15,19:00,0 days 20:35:00,2,2023-08-16,10:35,12,20,2708.95,€
167,Lufthansa,Lufthansa,BRU,CGK,2023-08-01,19:15,0 days 22:25:00,2,2023-08-02,22:40,2023-08-15,19:00,0 days 20:35:00,2,2023-08-16,10:35,12,20,2708.95,€
168,Lufthansa,Lufthansa,BRU,CGK,2023-08-01,16:30,0 days 20:35:00,2,2023-08-02,18:05,2023-08-15,19:00,0 days 23:00:00,2,2023-08-16,13:00,12,20,2685.63,€

In [4]:
df_bangkok

,out_airline_company,in_airline_company,dep_city,arr_city,out_dep_date,out_dep_time,out_duration,out_stop_num,out_arr_date,out_arr_time,in_dep_date,in_dep_time,in_duration,in_stop_num,in_arr_date,in_arr_time,hour_scrap,day_scrap,ticket_price,currency
0,Qatar Airways,Qatar Airways,BRU,BKK,2023-08-01,09:05,0 days 17:35:00,1,2023-08-02,07:40,2023-08-15,20:00,0 days 23:10:00,1,2023-08-16,14:10,9,20,1368.04,€
1,Qatar Airways,Qatar Airways,BRU,BKK,2023-08-01,09:05,0 days 17:00:00,1,2023-08-02,07:05,2023-08-15,20:00,0 days 23:10:00,1,2023-08-16,14:10,9,20,1390.65,€
2,Qatar Airways,Qatar Airways,BRU,BKK,2023-08-01,09:05,0 days 17:35:00,1,2023-08-02,07:40,2023-08-15,08:45,1 days 10:25:00,1,2023-08-16,14:10,9,20,1290.26,€
3,Qatar Airways,Qatar Airways,BRU,BKK,2023-08-01,09:05,0 days 17:00:00,1,2023-08-02,07:05,2023-08-15,08:45,1 days 10:25:00,1,2023-08-16,14:10,9,20,1312.36,€
4,Lufthansa,Lufthansa,BRU,BKK,2023-08-01,19:00,0 days 14:40:00,2,2023-08-02,14:40,2023-08-15,23:00,0 days 14:10:00,1,2023-08-16,08:10,9,20,1987.74,€
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,Lufthansa,Lufthansa,BRU,BKK,2023-08-01,14:40,0 days 19:00:00,2,2023-08-02,14:40,2023-08-15,23:00,0 days 18:25:00,2,2023-08-16,12:25,12,20,2048.36,€
109,Lufthansa,Lufthansa,BRU,BKK,2023-08-01,16:30,0 days 16:40:00,1,2023-08-02,14:10,2023-08-15,23:00,0 days 19:55:00,2,2023-08-16,13:55,12,20,2194.89,€
110,Lufthansa,Lufthansa,BRU,BKK,2023-08-01,16:30,0 days 16:40:00,1,2023-08-02,14:10,2023-08-15,23:00,0 days 19:55:00,2,2023-08-16,13:55,12,20,2048.36,€
111,Lufthansa,Lufthansa,BRU,BKK,2023-08-01,14:40,0 days 18:30:00,2,2023-08-02,14:10,2023-08-15,23:00,0 days 19:00:00,1,2023-08-16,13:00,12,20,2194.89,€
112,Lufthansa,Lufthansa,BRU,BKK,2023-08-01,13:45,0 days 19:25:00,1,2023-08-02,14:10,2023-08-15,23:00,0 days 18:25:00,2,2023-08-16,12:25,12,20,2194.89,€